@CHARSET "UTF-8";
body{
	background-repeat: no-repeat;
	background-size: 100%;
}
.alert-success{
	width : 600px;
}
.login-page{
	display: table;
	margin: auto;
}
.login-lab{
	font-size: 20px;
}
.btn-login{
	color: #f5f5f5;
    background-color: rgba(0,0,0,.7);
    border-color: #333;
    padding: 10px 16px;
    font-size: 18px;
}
.btn-login:hover {
    background-color: #555; 
    color: white;
    border-color: #333;
}
.btn-login:active {
  background-color: #555; 
  color: white;
  border-color: #333;
}
.modal-body {
    position: relative;
    padding: 30px;
}
.pnum{
	float: left;
}
.pnum2{
	float: left;
	margin:0 10px 0 10px;
	font-size:20px;
}
.form-join{
	width: 250px;
}
.form-join2{
	width: 200px;
}
.form-join2{
	width: 150px;
}

#login-title{
	font-size: 40px;
}
#id{
	width : 200px;
}
#pwd{
	float: left;
	margin-right: 20px;
}
#pwd-conf{
	float: left;
}
#email{
	width: 300px;
}
#idinput{
	width : 550px;
	margin: 0 40px;
	height: 40px;
	font-size: 18px;
}
#passwordinput{
	width : 550px;
	margin: 0 40px;
	height: 40px;
	font-size: 18px;
}
#btn_login{
	width: 550px;
    margin: 40px;
    
}
#btn_enroll{
	width: 550px;
    margin: 40px;
}
#btn_search_id{
    width: 250px;
    margin: 0 25px 25px;
}
#btn_search_password{
   width: 250px;
    margin: 0 25px 25px;
}
#btn_group2{
    text-align: center;
}
#btn_group3{
	 text-align: center;
}
#login-cont{
	margin-top: 20%;
	background-color: #ddd;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
  	background: rgba(0,0,0,.4);
    color: #eee;
}
#btn-goMain{
	color: #f5f5f5;
    padding: 10px 16px;
    font-size: 18px;
    width: 250px;
    margin: 0 25px 25px;
}
#alert-login{
	width: 550px;
    margin: 40px;
    font-size: 18px;
}
#btn_go{
	 width: 250px;
	 margin: 0 25px 25px;
}
#form-group-name{
	width: 250px;
	float: left;
	margin-right:37px;
}
#form-group-student-number{
	float: left;
}
#dept{
	clear:both;
}
#usrId{
	float: left;
    margin-right: 20px;
}
#password{
	clear:both;
}
#email{
	clear:both;
	width: 100%;
}
#radio{
	margin-right: 37px;
}
#address{
	width: 100%;
}
#photo{
	clear:both;
	padding: 20px 0 0 0;
}
#btn-password{
	margin-left:20px;
	margin-top:5px;
}
#join-title{
	font-size:20px;
}