@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');	
 /* Remove the navbar's default margin-bottom and rounded borders */ 
hr{
	margin-top: 0px;
	margin-bottom: 3px;
	
}
html{
	height: 100%;
    margin: 0 10%;
}
body{
	height: 100%;
	font-family: 'Nanum Gothic', serif, bold;
}
.navbar {
	background-color: white;
	margin-bottom: 0;
    border-radius: 0;
    border-color: white;
}
.enroll-table{
	text-align: center;
}
#nav1 {
	height: 4%;
}
#nav2 {
	height: 7%;
}
#cardName{
	font-size: 23px;
	font-family: 'Nanum Gothic', serif;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%;
}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: white;
    height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    height:5%;
    font-size: 12px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
     	height: auto;
     	padding: 15px;
     }
.row.content {height:auto;} 
}
  
.well{
	background-color: white;
	text-align: left;
}


.card {
    transition: 0.3s;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    margin-left: 13px;
    text-align: left;
    color:#586069;    
}
#title{
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 200px 56px;
}
.octicon{
	margin-right: 10px;
}
#btn_home{
	margin-left: 10px;
}
#main-container{
	margin-top:10px;
	height: 87%;
}
.tb-enroll-content{
	text-align:center;
}
#nav-cont{	
	font-size: 18px;
}
.nav_btn{
	margin-top:15px;
}
#info1{
	text-align : left;
	margin-left : 5px;
	margin-top : 10px;
}
#btn_myinfo_update{
   width: 45px;
   background-color: white;
   border-color: white;
}
.info_data{
	margin-bottom: 3px;
	color: #777;
}
#btn_setting{
   width: 20px;
}
#img-maincont{
	width: 60%;
	margin-bottom:10px;
}
#img-navbar{
	width: 170px;
}
#empty-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* table */